html {
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	background-color: #202020;
}
p {
	font-size: 12px;
	color: #c0c0c0;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 32px;
	margin: 0;
	padding: 10px 0;    
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}
h2 {
	font-size: 24px;
	margin: 0;
	padding: 8px 0;    
	color: #e0e0e0;
	font-family: 'Roboto', sans-serif;
}
h3 {
	font-size: 18px;
	margin: 0;
	padding: 6px 0;    
	color: #e0e0e0;
	font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}
a:link {
  color: #e0e0e0;
}
a:visited {
  color: #e0e0e0;
}