html {
	font-family: 'Roboto', sans-serif;
	background-color: #202020;
	color: #e0e0e0;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
p {
	font-size: 13px;
	color: #c0c0c0;
}
span {
	font-size: 13px;
	color:#202020;
	background-color:#ffff00;
	border:1px solid #e0e0e0;
}
h1 {
	text-align: center;
	font-size: 32px;
	margin: 0;
	padding: 10px 0;    
	color: #ffffff;
	border: 2px solid #e0e0e0;
}
h2 {
	font-size: 24px;
	margin: 0;
	text-align: center;
	padding: 7px 0;    
	color: #e0e0e0;
}
h3 {
	font-size: 18px;
	margin: 0;
	text-align: center;
	padding: 4px 0;    
	color: #e0e0e0;
}
a:hover {
  text-decoration: none;
}
a:link {
  color: #e0e0e0;
}
a:visited {
  color: #e0e0e0;
}
.resources {
  width: 95%;
  height: 500px;
  margin: 5px;
  padding: 5px;
  border: 3px solid #e0e0e0;
  overflow: auto;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}
thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 25%;
}
tbody tr:nth-child(odd) {
  background-color: #404040;
}

tbody tr:nth-child(even) {
  background-color: #202020;
}
caption {
	color: #e0e0e0;
}
tbody td {
	text-align: center;
}
th, td {
	color: #e0e0e0;
	padding: 3px;
}
.populate {
	color: #ffe000;
}
.food {
	color: #00c0ff;
}
.prod {
	color: #00c0ff;
}
.sciences {
	color: #00c0ff;
}
.culture {
	color: #00c0ff;
}
.gold {
	color: #00c0ff;
}